
<img src="assets/img/animation/linear-algebra/bracket-open.svg" id="bracket-open" class="matrix-bracket">

<div class="mcol" id="mcol1">
    <img src="assets/img/animation/linear-algebra/a1.svg" class="matrix-el">
    <img src="assets/img/animation/linear-algebra/b1.svg" class="matrix-el">
    <img src="assets/img/animation/linear-algebra/c1.svg" class="matrix-el">
</div>

<div class="mcol" id="mcol2">
    <img src="assets/img/animation/linear-algebra/a2.svg" class="matrix-el">
    <img src="assets/img/animation/linear-algebra/b2.svg" class="matrix-el">
    <img src="assets/img/animation/linear-algebra/c2.svg" class="matrix-el">
</div>

<div class="mcol" id="mcol3">
    <img src="assets/img/animation/linear-algebra/a3.svg" class="matrix-el">
    <img src="assets/img/animation/linear-algebra/b3.svg" class="matrix-el">
    <img src="assets/img/animation/linear-algebra/c3.svg" class="matrix-el">
</div>

<img src="assets/img/animation/linear-algebra/bracket-close.svg" id="bracket-close" class="matrix-bracket">