
#main-404 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;

    padding: 1%;
}

.content-container-404 {
    max-width: 1000px;
    min-width: 0;

    flex: 1 1 auto;

    margin: $item-margin;
    border-radius: 10px;

    text-align: center;

    background-color: white;

    * {
        margin: 1rem;
        color: $brown;
    }
}

#error-404 {
    font-size: 5rem;
}

#exc-404 {
    font-size: 3rem;
}

#desc-404, #redirect-404 {
    font-size: 2rem;

    a {
        color: $dark-blue;
    }
}