
.post-wrapper {
    max-width: 100%;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: start;
}

.post-container {
    margin: 0.5rem 1rem;
    padding: 1rem 0.5rem;
    border-radius: $corner-large;

    background-color: $white;
}

#post-meta {
    max-width: 1000px;
    @include screen-min($on-tablet + 340px){
        width: 15vw;
    }

    @include flex-grow-thresh($on-tablet + 340px);
}

#post-author-date {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    margin-bottom: 0.5rem;
}

.author-name {
    margin: 0.1rem 0.5rem;
}

.author-pic {
    width: 50px;
    height: 50px;
    flex: 0 0 auto;

    border-radius: $corner-small;

    background-color: black;
}

#post-date {
    margin: 0.1rem 0.5rem;
    color: $red;
}

#post-content {
    max-width: 1000px;
    min-width: 0;

    flex: 1 1 auto;

    font-family: "Trebuchet MS", Arial, sans-serif;

    * {
        margin: 0;
        margin-bottom: 1rem;
    }

    strong {
        color: $red;
    }

    a {
        color: $dark-blue;
    }

    img {
        max-height: 50vh;
        max-width: 100%;
        display: block;
        margin: 2rem auto;
    }
    .img-w-caption {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin: 2rem auto;
        width: fit-content;

        img {
            margin: 0;
        }
    }

    blockquote, q {
        font-family: serif;
        font-style: italic;
    }

    // for MathML styling
    math * {
        margin: 0;
    }

    mjx-container * {
        margin: 0;
    }
}

#reference-list {
    padding-left: 2rem;

    .italicize {
        font-style: italic;
    }

    > li {
        counter-increment: item;
    }
    > li::marker {
        content: "["counter(item)"] ";
    }

    .sub-list {
        padding-left: 1rem;

        > li {
            margin: 0.5rem 0;
        }
    }
}