$category-width: 300px;
$category-height: 150px;


.category-container {
    display: flex;
    flex-flow: row wrap;

    margin: $container-margin;
    padding: 0;

    list-style-type: none;
}

.category {
    width: $category-width;
    height: $category-height;

    display: grid;
    grid-template: {
        columns: 1fr auto 15fr;
        rows: 1fr auto 1fr;
    };

    @include flex-grow-thresh;

    margin: $item-margin;
    border-radius: $corner-large;

    text-align: center;

    background-color: $white;
    box-shadow: 5px 5px 1px $brown;

    @extend %grow;

    a {
        grid-column: {
            start: 1;
            end: -1;
        };
        grid-row: {
            start: 2;
            end: 3;
        };

        z-index: 1;

        text-decoration: none;
        text-transform: capitalize;
        font-size: 3rem;
        @include screen-min($on-tablet){font-size: 2.5rem;}
        font-weight: 600;
        color: $red;
        text-shadow: 1px 1px $brown;
    }
}

.category-anim {
    grid-column: {
        start: 2;
        end: 3
    };
    grid-row: {
        start: 1;
        end: -1;
    };

    position: relative;
    width: $category-height;
    height: $category-height;
    background-color: $white;
    overflow: hidden;
}


#physics.category {
    .category-anim {
        @include physics-anim-container(
            $category-height,
            3
        )
    }
}

#maths.category {
    .category-anim {
        @include maths-anim-container(
            $category-height,
            3
        );
    }

    &:hover {
        @include maths-anim-container(
            $category-height,
            infinite
        );
    }
}

#newtonian-mechanics.category {
    $anim-name: apple-drop-small;

    .category-anim {
        @include newton-anim-container(
            $category-height,
            $anim-name,
            3
        );
    }

    &:hover {
        #apple {
            animation: $anim-name 2s ease-in infinite;
        }

        #fall-lines {
            animation: hide 2s none infinite;
        }
    }
}

#linear-algebra.category {
    $anim-name: matrix-slide-small;

    .category-anim {
        @include lin-alg-anim-container(
            $category-height,
            $anim-name,
            2
        );
    }

    &:hover {
        @include lin-alg-anim-container(
            $category-height,
            $anim-name,
            infinite
        );
    }
}