---
layout: default
---

{% capture name %}{{ page.title | slugify }}{% endcapture %}

{% include page-header.html %}

<main class="page-main">

    <section>
        <!-- categories -->
        <ul class="category-container">

            {% for category in site.data.categories[{{name}}] %}
                <li class="category" id="{{ category }}">

                    {% capture filename %}animation/{{ category }}.html{% endcapture %}                                
                    <div class="category-anim">
                        {% include {{filename}} %}
                    </div>

                    <a href="{{page.url}}{{category}}">{{ category | replace: "-", " " }}</a>
                </li>
            {% endfor %}

        </ul>
    </section>

    <section>

        <div class="heading">
            <h2>Latest in {{page.title}}</h2>
        </div>

        {% assign posts=site.categories[{{name}}] %}
        {% include postcards.html posts=posts %}

    </section>

</main>